:root {
    --primary-color: #C53227;
    --secondary-color: #333;
    --bg-light: #f4f4f4;
    --bg-dark: #2c2c2c;
    --text-light: #fff;
    --text-dark: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-dark);
    background-color: var(--bg-light);
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(44, 44, 44, 0.8);
    color: var(--text-light);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;;
}

.logo {
    display: flex;
}
.logoImg {
    width: 50px;
    height: auto;
    margin-left: 10px;

}

.logo h1 {
    font-size: 1.5rem;
    color: var(--primary-color);
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--primary-color);
}

/* Hero Section */
.hero {
    background: url('https://via.placeholder.com/1500x800') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-light);
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: var(--text-light);
    padding: 0.8rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn:hover {
    background: var(--primary-color); /* ver opacidad en hover en otro proyecto*/
}

/* Sections */
main {
    padding-top: 60px; /* Espacio para el navbar fijo */
}

section {
    padding: 4rem 2rem;
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--secondary-color);
}

/* Servicios */
.section-servicios {
    background-color: var(--bg-light);
}

.servicios-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.servicio-item {
    background-color: var(--bg-dark);
    color: var(--text-light);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.servicio-item h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

/* Galería */

.section-galeria h2 {
    color: var(--text-light);
}
.section-galeria {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

.galeria-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.galeria-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.galeria-container img:hover {
    transform: scale(1.05);
}

/* Contacto */
.section-contacto {
    background-color: var(--bg-light);
}

#contactForm {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 2rem;
    background: var(--text-light);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Footer */
footer {
    background: var(--secondary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1rem 0;
}